.issue-points {
  background-color: #0366d6; 
  color: #fff;
  border-radius: 20px;
  padding: 2px 5px;
}

.column-points {
  background-color: #0366d6; 
  color: #fff;
  border-radius: 20px;
  padding: 2px 5px;
}
